/* PODCAST_PAGE */
#content .podcast_image_n_title {
    display: flex;
    align-items: center;
    justify-content: start;
}
#content .podcast_image_n_title > .podcast_image {
    width: 20%;
    height: auto;
    max-width: 7rem;
    margin-right: 20px;
}
#content .podcast_image_n_title > .podcast_title {
    border-bottom: none;
}

@media all and (max-width: 600px) {
    #content .podcast_image_n_title .podcast_title {
        font-size: 1.7em;
    }
}
@media all and (max-width: 500px) {
    #content .podcast_image_n_title {
        flex-direction: column;
    }
    #content .podcast_image_n_title .podcast_image {
        width: 7rem;
    }
}

    /* podcast links */
.podcast_links {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 10px 10px;
    border-radius: 15px;
    margin-bottom: 1em;
}
.podcast_link {
    height: 2em;
    width: auto;
    max-width: 2em;
    margin-top: 10px;
    margin-right: 10px;
}
.podcast_link svg {
    width: 100%;
    height: 100%;
    fill: #555;
    transition: fill .3s;
}
.podcast_link:hover svg {
    fill: #8e443d !important;
}
.podcast_link.spotify_icon svg {
    fill: #1ED760;
}
.podcast_link.soundcloud_icon svg {
    fill: #FF5500;
}
.podcast_link.youtube_icon svg {
    fill: #FF0000;
}
.podcast_link.deezer_icon svg {
    fill: #EF5466;
}
.podcast_link.googlepodcasts_icon svg {
    fill: #4285f4;
}
.podcast_link.applepodcast_icon svg {
    fill: #873dc1;
}
.podcast_link.rss_icon svg {
    fill: #f87801;
}
    /* end podcast links */

/* LIST_BLOG_RECUR */
ul.list_podcast {
    list-style-type: none;
    padding: 0;
}
ul.list_podcast > li {
    padding: .5em;
    border-radius: 5px;
}
ul.list_podcast > li:nth-child(2n-1) {
    background: rgb(228, 228, 228);
}
ul.list_podcast > li:nth-child(2n) {
    background: rgb(241, 241, 241);
}
ul.list_podcast > li > a {
    margin-bottom: 0;
    text-decoration: none;
    color: #24292e;
}
ul.list_podcast > li > a:hover {
    text-decoration: none;
}
ul.list_podcast > li > a p {
    margin: 0;
}
ul.list_podcast > li > a > p.list_podcast_date {
    font-size: .9em;
    color: #646464;
}
ul.list_podcast > li > a div.list_podcast_tidur_box {
    display: flex;
    align-items: center;
    justify-content: start;
}
ul.list_podcast > li > a p.list_podcast_duration {
    margin-right: 5px;
    color: #8e443d;
    font-weight: bold;
}
ul.list_podcast > li > a:hover p.list_podcast_title {
    text-decoration: underline;
}
ul.list_podcast > li > a p.list_podcast_title {
    font-weight: bold;
    font-size: 1.2em;
}