<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESTMADDY</title>
</head>
<body>
    <div id="content">
        <%- html_content %> 
    </div>
</body>
</html>