/*
    Included in every page
*/

/* LIST_BLOG_RECUR */
ul.list_blog {
    list-style-type: none;
    padding: 0;
}
ul.list_blog > li {
    padding: .5em;
    border-radius: 5px;
}
ul.list_blog > li:nth-child(2n-1) {
    background: rgb(228, 228, 228);
}
ul.list_blog > li:nth-child(2n) {
    background: rgb(241, 241, 241);
}
ul.list_blog > li > a {
    margin-bottom: 0;
    text-decoration: none;
    color: #24292e;
    display: flex;
    justify-content: start;
    align-items: center;
}
ul.list_blog > li > a:hover {
    text-decoration: none;
}
ul.list_blog > li > a > img {
    width: 11.2rem;
    max-width: 11.2rem;
    min-width: 11.2rem;
    height: 8rem;
    max-height: 8rem;
    object-fit: cover;
    margin-right: .5rem;
    border-radius: 3px;
}
ul.list_blog > li > a > div.list_blog_content > p {
    margin: 0;
}
ul.list_blog > li > a > div.list_blog_content > p.list_blog_date {
    font-size: .9em;
    color: #646464;
}
ul.list_blog > li > a:hover > div.list_blog_content > p.list_blog_title {
    text-decoration: underline;
}
ul.list_blog > li > a > div.list_blog_content > p.list_blog_title {
    font-weight: bold;
    font-size: 1.2em;
}
ul.list_blog > li > a > div.list_blog_content > .list_blog_description {
    /*line-clamp*/
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(3*1.25rem);
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.25rem;
    /*end line-clamp*/
}

@media all and (max-width: 600px) {
    ul.list_blog > li > a {
        flex-direction: column;
        align-items: start;
    }
    ul.list_blog > li > a > img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        max-height: 15rem;
        margin-right: 0rem;
        margin-bottom: .5rem;
    }
}