[Unit]
Description=cestoliv.com/cestmaddy

[Service]
WorkingDirectory=
ExecStart=npm start

Restart=always

RestartSec=10

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=cestmaddy

Environment=ENVIRONMENT=prod

[Install]
WantedBy=multi-user.target