<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error | <%- site.title %></title>
    <meta name="description" content="500 Internal Server Error.">

    <%- include("../../../../../../templates/favicons.ejs") %>

    <%- include("../../../../../../templates/theme.ejs") %>
</head>
<body>
    <div id="content" class="error markdown">
        <p class="error_code">500</p>
        <p class="error_text">Internal Server Error.</p>
    </div>
</body>
</html>