<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESTMADDY</title>

    <% switch (theme) {
        case "wave": %>
            <link rel="stylesheet" href="/front/themes/wave/page.min.css">
            <link rel="stylesheet" href="/front/github-markdown.min.css">
            <% break;
        case "clean": %>
            <link rel="stylesheet" href="/front/themes/clean/page.min.css">
            <link rel="stylesheet" href="/front/github-markdown.min.css">
            <% break;
    
        default:
            break;
    } %>
</head>
<body>
    <header class="markdown">
        <%- html_header %>
    </header>
    <div id="content" class="markdown">
        <%- html_content %> 
    </div>
    <footer class="markdown">
        <%- html_footer %> 
    </footer>
</body>
</html>